* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.picture, .resume {
  position: fixed;
  width: 50%;
}

.picture {
  top: 0;
  left: 0;
  background-color: #ffc;
}

.resume {
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #cfc;
  font-size: 24px;
  overflow-y: scroll;
}
